<div class="container home-container">
  <div class="content p-4">
    <h1 class="h1">Get quality content to next Generation.</h1>
    <p class="lead">We write quality blogs to inspire the next generation. Lead us to get more.</p>
    <%= link_to 'Explore News', articles_path, class:'btn btn-lg btn-primary' %>
  </div>
</div>